:root {
    --main-color : #0a2d41;
    --secondary-color : #fafafa;
    --font-color : #323232;
    --font-color-light : #fff;
    --font-color-secondary-light : #bbbbbb;
    --font-secondary-color : #559ca5;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.register {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}
.register-container {
    display: flex;
    width: 27%;
    height: 70%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register-header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: var(--main-color);
}
.register-body {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
}
form {
    width: 80%;
    height: 80%;
}
.form-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.form-group input {
    width: 100%;
    height: 17.5%;
    border: none;
    background-color: var(--secondary-color);
    color: var(--font-color);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
}
.form-group button {
    width: 100%;
    height: 17.5%;
    border: none;
    background-color: var(--main-color);
    color: var(--font-color-light);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.form-group button:hover {
    background-color: #21526f;
}